@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "poppins bold";
  src: url("../fonts/Poppins-Bold.ttf");
  font-display: swap;
}
