@media screen and (max-width: 576px) {
  .logo-img-wrapper {
    width: 180px;
    height: 180px;
  }
  .my-name {
    font-size: 1.1rem !important;
  }
  .react-icon-wrapper {
    width: 140px;
    height: 140px;
  }
  .des {
    font-size: 14px;
    width: 320px;
    text-align: justify;
  }
}
